@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

p, h1 ,h2 ,h3, h4, h5, h6 {
    margin: 0 !important;
}

.all-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    text-decoration: none !important;
}

.loader
{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 999;
}

.loader .image1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .loader.hide
{
    display: none;
} */

.top-bar
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #001500;
    background-blend-mode: soft-light;
    width: 100%;
    height: 100vh;
    padding: 3% 0;
}

.top-bar .logo i
{
    font-size: 55px;
    color: #4bd24b;
}

.top-bar .nav-bar
{
    float: right;
}

.top-bar .nav-bar ul
{
    display: flex;
    list-style: none;
    padding-top: 3%;
}

.top-bar .nav-bar li
{
    padding: 0 15px 0 15px;
    font-size: 17px;
    text-align: center;
    display: block;
    border-bottom: 1px solid transparent;
}

.top-bar .nav-bar a
{
    color: white;
    text-align: center;
    display: block;
    padding-bottom: 3px;
} 

.top-bar .nav-bar li a:hover
{
    color: white;
    text-align: center;
    display: block;
    border-bottom: 2px solid #bc0000;
    padding-bottom: 3px;
} 

.top-bar .slider
{
    text-align: center;
    padding-top: 15%;
}

.top-bar .slider h1
{
    font-size: 45px;
    color: white;
}

.top-bar .slider p
{
    font-size: 17px;
    color: #8c8c8c;
    padding-top: 2%;
}

.top-bar .slider .btn1
{
    margin-top: 5%;
}

.top-bar .slider .btn1 a
{
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #416aff;
    padding: 10px 5%;
    font-size: 15px;
    font-weight: 500;
}

.top-bar .slider .btn1 a:hover
{
    background-color: #bc0000;
    opacity: 0.5s;
    transition: 0.5s;
    color: #fff;
}

.about 
{
    padding: 3% 0;
    text-align: center;
    background-color: #860c00;
}

.about .wrapper
{
    padding-top: 10%;
}

.about .wrapper h1
{
    color: white;
    font-size: 40px;
}

.about .wrapper p
{
    color: #e3e3e3;
    padding-top: 5%;
    font-size: 15px;
}

.about .wrapper .seprator
{
    background-color: #4bd24b;
    width: 20%;
    height: 2px;
    display: block;
    margin: auto;
    margin-top: 1%;
}

.about img
{
    width: 70%;
    height: auto;
}

.about .wrapper .btn2
{
    margin-top: 8%;
}

.about .wrapper .btn2 a
{
    color: white;
    border: 1px solid;
    border-radius: 4px;
    background-color: black;
    padding: 10px 5%;
    font-size: 15px;
    font-weight: 500;
}

.about .wrapper .btn2 a:hover
{
    background-color: #063cff;
    opacity: 0.5s;
    transition: 0.5s;
    color: #fff;
}

.service
{
    padding: 8% 0 5% 0;
    background-blend-mode: soft-light;
    background-color: #001f07f2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.service h1
{
    color: white;
    font-size: 40px;
}

.service .seprator
{
    background-color: #4bd24b;
    width: 13%;
    height: 2px;
    display: block;
    margin: auto;
    margin-top: 1%;
}

.service .serve
{
    padding-top: 10%;
}

.service .serve .main:hover
{
    background-color: #ffffff33;
}

.service .serve .cards
{
    margin: 20% 0;
}

.service .serve .cards .image2
{
    border: 5px solid #ff0000db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    margin: auto;
}

.service .serve .cards .image2 img
{
    top: -60%;
    left: 15%;
    width: 60px;
    height: 120px;
    position: absolute;
    display: block;
    margin: auto;
    /* object-fit: cover;
    object-position: top; */
   
}

.service .serve .head
{
    padding-top: 5%;
}

.service .serve .head h4
{
    color: white;
    font-size: 30px;
}

.service .serve .head p
{
    font-size: 14px;
    color: #c8c8c8;
    padding: 5% 8%;
}

.service .serve .btn2
{
    margin-top: 7%;
}

.service .serve .btn2 a
{
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #5d0000ad;
    padding: 10px 10%;
    font-size: 15px;
}

.service .serve .btn2 a:hover
{
    background-color: white;
    opacity: 0.5s;
    transition: 0.5s;
    color: black;
}


